/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





// Variables


$wcolor:#fff;
$bcolor:#000;
$fontkelson:"kelson";













// end of variables

    
// header style  



header{display: flex;justify-content:space-between;z-index:10;position: fixed; width: 100%; top: 0;  
    
    img{  width: 141px;height: auto; padding-left: 10px; padding-top: 10px;}          

     ul{ list-style: none; display: flex;justify-content: center;align-items: center; padding-top: 10px; padding-right: 10px; }   

    li{display: inline;}   

   a{ text-decoration: none;font-family:$fontkelson ; font-size: 15px; color: $bcolor;margin-left: 5px;} 
   a:active { color: red;}           
   
 }

// end of header style 


// HOME STYLE


// Hero style
.hero{ padding-top: 75px;

    .premium img{ position: fixed;position: absolute; top: 56px; left: 197px;}   

    .hero-inner{ margin-top: 90px;margin-bottom: 30px;justify-content: center;align-items: center;text-align: center;
    
        h1{ font-size: 30px; }
        p{ font-size: 17px; padding: 5px 10px 20px 10px; }
    
    }

}
// end of Hero style

// Gallery Style
 


.gallery { position: relative; width: 50%; cursor: pointer;

    img{ display: block; width: 100%; height: auto; }

    .onHover{ position: absolute; bottom: 0; left: 0; right: 0; background-color: #fca709a8; overflow: hidden; width: 100%; transform: scale(0); transition: 0.3s ease; height: 100%;
   
    .text p{ color: #fff; font-size: 15px; text-align: center; width: 100%; transform: translate(0%, 0%); position: relative; top: 0%;left: 0%; height: 100%; margin: 0 auto; text-align: center;justify-content: center; align-items: center; padding-bottom: 9px;}
        h1{ color: #fff; font-size: 23px; text-align: center; padding: 10px;}
}

}

.gallery:hover .onHover{ transform: scale(1); } 

.hover{ display: flex; flex-wrap: wrap;}






// end of gallery style

// END OF HOME STYLE



// ABOUT US STYLE 

.banner{width: 100%; padding-top: 150px;display: flex; flex-direction: column;margin: 0 auto;justify-content: center;text-align: center;padding-bottom: 40px;
    .banner-inner{ padding: 10px; 
     h1{font-size: 30px; padding-bottom: 10px;}
     p{ font-size: 18px;}
}

}

.gallarie{ width: 100%; display: flex; flex-direction: column; background-color: #fff;

.gallarie-inner{ width: 95%; display: flex; flex-direction: column; margin: 0 auto; text-align: left;

img{ width: 100%; height: auto;padding-top: 20px; padding-bottom: 5px;}

.one, .two, .three {
    margin: 0 auto; align-items: center; justify-content: center; padding-bottom: 30px;

h5{  font-size: 20px; display: flex; margin:  0 auto; text-align: center; align-items: center; justify-content: center; padding-top: 5px; padding-bottom: 10px;}

p{ font-size: 16px; display: flex; margin: 0 auto; justify-content: center; align-items: center; padding: 0px 10px 10px 10px; text-align: center;}

}

}

}

.our-team{ display: flex; flex-direction: column; width: 100%; background-color: #fff; justify-content: center; align-items: center; padding-bottom: 40px;

h2{ font-size: 25px; padding-bottom: 10px;}
p{ align-items: center; margin: 0 auto; justify-content: center; text-align: center; padding: 0 10px 20px 10px;}

.our-team-inner{ width: 95%; margin: 0 auto; align-items: center; justify-content: center;}
h6{ margin:  0 auto; text-align: center; font-size: 26px; padding-top: 10px; padding-bottom: 3px;}
p{ font-size: 18px;}

img{ width: 100%;}
}


.our-clients{ display: flex; flex-direction: column; width: 100%; background-color: #fff; justify-content: center; align-items: center; padding-bottom: 40px;

    h1{ font-size: 30px; padding-bottom: 10px;padding-top: 20px; text-align: center;}
    p{ align-items: center; font-size: 18px; margin: 0 auto; justify-content: center; text-align: center; padding: 0 10px 20px 10px;}

.brand{ display: flex; flex-wrap: wrap; margin: 0 auto; justify-content: space-evenly;  

    img{ width: 40%; justify-content: space-between;}
}

}



// END OF ABOUT US



// CONTACT US STYLE

.baner{z-index: 2;

        h1{ font-size: 30px;margin-bottom: 10px;}    
        
        p{ padding: 15px; color: grey; font-size: 20px;}       
   
    

    .baner-inner{ padding-top: 150px; margin-bottom: 50px;justify-content: center;align-items: center; text-align: center;}    

    .info{align-items: center;margin-bottom: 30px;justify-content: center;        
        
        img{  align-items: center;justify-content: center; margin: 0 auto;display: flex; width: 97%; margin-bottom: 10px;  }      
          
        .contact-details{ width: 97%;background-color: black; color: #fff;justify-content: center; align-items: center;text-align: center;justify-content: center; margin: 0 auto;
         
            .address{ padding-top: 20px; align-items: center;             
               

                ul{  margin-bottom: 10px;  list-style: none; margin-top: 10px;       

                  li { margin: 0 auto;  width: 40px;                    
                     
                    i{font-size: 50px;color:#fff; }             
                    
                  }
                }
                h3{ font-size: 30px;  }                   
              
                p{  padding-top: 10px; font-size: 20px; }        
            
            }

            .email{ padding-top: 20px;  align-items: center;
                ul{ list-style: none; margin-bottom: 10px; margin-top: 10px;
                    li {  margin: 0 auto;   width: 40px;                           
                    i{  font-size: 50px;  color:#fff; }        
                                      
                  }
                }
                h3{  font-size: 30px;}                 
              
                p{  font-size: 20px; padding-top: 10px; }                 
            }

            .phone{  padding-top: 20px;   align-items: center; padding-bottom: 50px;     

                ul{  margin-bottom: 10px;  list-style: none;  margin-top: 10px;  

                  li {width: 40px;  margin: 0 auto;
                      
                    
                    i{  font-size: 50px;color:#fff;}            
                    
                  }
                }
                h3{font-size: 30px;}                    
                
                p{ padding-top: 10px;font-size: 20px;}                   
                
            }
        }
    }

}
.premium{ right: 0px; position: fixed; top: 72px; } 

// baner end

// Details Section
.details{display: flex;flex-direction: column;justify-content: center;align-items: center;padding-bottom: 20px;

h4{  font-size: 30px;   margin-bottom: 20px;} 
 

form{  display: flex;  flex-direction: column; margin-bottom: 10px; margin-top: 10px; width: max-content ;  
  

    .e-mail{ font-size: 15px; font-size: 15px;  height: 45px;  padding-left: 5px; }     
   
    .name{ padding-left: 5px; margin-top: 10px; width: 295px; font-size: 15px;height: 45px;  }  
        
  
}

.fill { margin: 0 auto;    margin: 0 auto;  justify-content: center; align-items: center; display: flex; flex-direction: column;
  
   
   
   
    .subject{width: 90%;  height: 45px;  margin-bottom: 10px;  padding-left: 10px; margin-top: 10px;}  


.text-area{ padding-left: 10px; padding-top: 25px; justify-content: center; align-items: center;  height: 75px; width: 90%; margin-bottom: 10px;} 

.bt{ display: flex; width: 40px;
button{ background-color: orange; width: 90%;height: 45px; font-size: 15px;border: none;color: #fff;}  
}

.btn{ width: 40px;}

.dropdown{ position: relative;display: inline-block;}
 
 .dropdown-content{  position: relative; background-color:rgba(211, 211, 211, 0.685);min-width: 160px; z-index: 3;
    
 .dropdown-content a { color: black;padding: 12px 16px;text-decoration: none;display: block;
   
    
    
 }
 .dropdown:hover .dropdown-content {
    display: block;



  }
 }
}
   
.btn:hover, .dropdown:hover .btn {
  background-color: #0b7dda;
}
      
}




// end of Details Section







// END OF CONTACT US STYLE









// FOOTER STYLE
footer{background-color: black;color: #fff; display: flex; flex-direction: column; margin: 0 auto; justify-content: center; align-items: center;

    .footer-top{ 
        ul{display: flex; width: 100%;

            li{justify-content: space-between;

                i{font-size: 30px; color: grey; padding-left: 40px; margin-top: 20px;margin-bottom: 20px;
                   
                    
                }
            }
        }
        h3,h5{font-size: 26px; display: flex; margin: 0 auto; text-align:  center;justify-self: center;padding-left: 30px; }
        p{color: grey; font-size: 18px; line-height: normal; padding: 10px; text-align: center;}
            }
            h4{ font-size: 30px; display: flex; margin: 0 auto; text-align:  center;justify-self: center;padding-left: 82px;}

            hr{height: 0.5px;border: none;background-color: grey; margin-bottom: 10px; }

            .footer-bottom{ 

                p{ color: grey;font-size: 18px;padding: 8px 0 15px 10px;}

            }
        }
// END OF FOOTER