/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 450;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fca709a8;
}

header img {
  width: 141px;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

header ul {
  list-style: none;
  overflow: hidden;
  position: absolute;
}

header ul a {
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 20px;
}

header ul a:hover {
  background-color: darkgray;
}

header .menu {
  right: 0px;
  clear: both;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
}

header .menu-icon .nav-icon {
  background-color: darkgray;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

header .menu-icon .nav-icon::before {
  background-color: darkgray;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
}

header .menu-icon .nav-icon::after {
  background-color: darkgray;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
}

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.hero {
  padding-top: 51px;
}

.hero .premium img {
  position: fixed;
  position: absolute;
  top: 56px;
  right: 0px;
  z-index: 30;
}

.hero .hero-inner {
  margin-top: 90px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero .hero-inner h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.hero .hero-inner p {
  font-size: 17px;
  padding: 5px 10px 20px 10px;
}

.gallery {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery .onHover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fca709a8;
  overflow: hidden;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 100%;
}

.gallery .onHover .text p {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  width: 100%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  padding-top: 30px;
}

.gallery .onHover h1 {
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  padding: 10px;
}

.gallery:hover .onHover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner {
  width: 100%;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}

.banner .banner-inner {
  padding: 10px;
}

.banner .banner-inner h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.banner .banner-inner p {
  font-size: 18px;
}

.gallarie {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.gallarie .gallarie-inner {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.gallarie .gallarie-inner img {
  width: 100%;
  height: auto;
  padding-top: 20px;
  cursor: pointer;
  padding-bottom: 5px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.gallarie .gallarie-inner img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gallarie .gallarie-inner .one, .gallarie .gallarie-inner .two, .gallarie .gallarie-inner .three {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.gallarie .gallarie-inner .one h5, .gallarie .gallarie-inner .two h5, .gallarie .gallarie-inner .three h5 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.gallarie .gallarie-inner .one p, .gallarie .gallarie-inner .two p, .gallarie .gallarie-inner .three p {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 10px 10px;
  text-align: center;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.our-team h2 {
  font-size: 25px;
  padding-bottom: 10px;
}

.our-team p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px 20px 10px;
}

.our-team .our-team-inner {
  width: 95%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team h6 {
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 3px;
}

.our-team p {
  font-size: 18px;
}

.our-team img {
  width: 100%;
}

.our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.our-clients h1 {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}

.our-clients p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px 20px 10px;
}

.our-clients .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.our-clients .brand img {
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.baner {
  z-index: 2;
}

.baner h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.baner p {
  padding: 15px;
  color: darkgray;
  font-size: 20px;
}

.baner .baner-inner {
  padding-top: 150px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.baner .info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.baner .info img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  margin-bottom: 10px;
}

.baner .info .contact-details {
  width: 97%;
  background-color: #000000;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.baner .info .contact-details .address {
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner .info .contact-details .address ul {
  margin-bottom: 10px;
  list-style: none;
  margin-top: 10px;
}

.baner .info .contact-details .address ul li {
  margin: 0 auto;
  width: 40px;
}

.baner .info .contact-details .address ul li i {
  font-size: 30px;
  color: #ffffff;
}

.baner .info .contact-details .address h3 {
  font-size: 25px;
}

.baner .info .contact-details .address p {
  padding-top: 10px;
  font-size: 20px;
}

.baner .info .contact-details .email {
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner .info .contact-details .email ul {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.baner .info .contact-details .email ul li {
  margin: 0 auto;
  width: 40px;
}

.baner .info .contact-details .email ul li i {
  font-size: 30px;
  color: #ffffff;
}

.baner .info .contact-details .email h3 {
  font-size: 25px;
}

.baner .info .contact-details .email p, .baner .info .contact-details .email a {
  font-size: 18px;
  padding-top: 10px;
  text-decoration: none;
  color: darkgray;
}

.baner .info .contact-details .phone {
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.baner .info .contact-details .phone ul {
  margin-bottom: 10px;
  list-style: none;
  margin-top: 10px;
}

.baner .info .contact-details .phone ul li {
  width: 40px;
  margin: 0 auto;
}

.baner .info .contact-details .phone ul li i {
  font-size: 30px;
  color: #ffffff;
}

.baner .info .contact-details .phone h3 {
  font-size: 25px;
}

.baner .info .contact-details .phone p {
  padding-top: 10px;
  font-size: 20px;
}

.premium {
  right: 0px;
  position: fixed;
  top: 72px;
  z-index: 30;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.details h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.details form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0px;
  margin-top: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.details form .e-mail {
  font-size: 15px;
  height: 45px;
  padding-left: 5px;
  margin-top: 10px;
}

.details form .name {
  padding-left: 5px;
  margin-top: 10px;
  width: 295px;
  font-size: 15px;
  height: 45px;
}

.details .fill {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details .fill .subject {
  width: 90%;
  height: 51px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.details .fill .text-area {
  padding-left: 10px;
  padding-top: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 90%;
  margin-bottom: 10px;
}

.details .fill .bt button {
  background-color: #ffa500;
  width: 90%;
  height: 45px;
  z-index: 80;
  font-size: 15px;
  border: none;
  color: #ffffff;
  color: #000000;
  background-color: darkgray;
  border: 2px outset #b37d00;
}

.details .fill .dropdown {
  position: relative;
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.473);
}

button {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  position: relative;
  -webkit-animation-name: dropsubmit;
          animation-name: dropsubmit;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes dropsubmit {
  0% {
    left: 0px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 100px;
  }
  100% {
    background-color: #ff0000;
    left: 0px;
    top: 0px;
  }
}

@keyframes dropsubmit {
  0% {
    left: 0px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 100px;
  }
  100% {
    background-color: #ff0000;
    left: 0px;
    top: 0px;
  }
}

.btn:hover ~ .dropdown {
  max-height: 400px;
}

.dropdown {
  background: #000000;
  max-height: 0;
  overflow: hidden;
  z-index: 60;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.dropdown a {
  padding: 10px 20px;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

.dropdown a:hover {
  background: #333;
}

footer {
  background-color: #000000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .footer-top ul li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-top ul li i {
  font-size: 30px;
  color: darkgray;
  padding-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer .footer-top h3, footer .footer-top h5 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-self: center;
  padding-left: 50px;
}

footer .footer-top p, footer .footer-top a {
  color: grey;
  text-decoration: none;
  font-size: 18px;
  line-height: normal;
  padding: 5px;
  text-align: center;
}

footer h4 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-self: center;
  padding-left: 90px;
}

footer hr {
  height: 0.5px;
  border: none;
  background-color: darkgray;
  margin-bottom: 10px;
  width: 100%;
}

footer .footer-bottom p {
  color: darkgray;
  font-size: 18px;
  padding: 8px 0 15px 10px;
}

@media (min-width: 568px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-top ul {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-item2 h4 {
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  header img {
    width: 220px;
  }
  header ul li a {
    font-size: 15px;
  }
  header li {
    float: left;
  }
  header li a {
    padding: 30px 30px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-icon {
    display: none;
  }
  .premium {
    padding-top: 20px;
    width: 120px;
  }
  .hero {
    padding-top: 100px;
  }
  .hero .hero-inner h1 {
    font-size: 30px;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.333%;
  }
  .gallery img {
    -webkit-box-flex: 33.333%;
        -ms-flex: 33.333%;
            flex: 33.333%;
  }
  footer ul {
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer ul li {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 20%;
  }
  footer .flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-item2 h4 {
    padding-top: 1px;
  }
  .banner {
    padding-top: 180px;
  }
  .our-team .our-team-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-team .our-team-inner .teamflex {
    width: 45%;
  }
  .our-clients {
    width: 100%;
  }
  .our-clients .brand {
    width: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .our-clients .brand img {
    width: 26%;
  }
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
  .info img {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .gallery {
    -webkit-box-flex: 23.3333%;
        -ms-flex: 23.3333%;
            flex: 23.3333%;
  }
  .footer-top {
    width: 80%;
  }
  .footer-top h5 {
    padding-left: 13px;
  }
  .footer-bottom p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallarie {
    width: 100%;
  }
  .gallarie .gallarie-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    -webkit-box-flex: 43.33333%;
        -ms-flex: 43.33333%;
            flex: 43.33333%;
  }
  .gallarie .gallarie-inner img {
    width: 96%;
  }
  .gallarie .three img {
    height: 255.44px;
  }
  .our-team .teamflex {
    -webkit-box-flex: 13.333%;
        -ms-flex: 13.333%;
            flex: 13.333%;
  }
  .our-clients .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 23.3333%;
        -ms-flex: 23.3333%;
            flex: 23.3333%;
    width: 100%;
  }
  .our-clients .brand img {
    width: 15%;
  }
}
/*# sourceMappingURL=style.css.map */