/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1,3;
  font-family: "roboto";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 450;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  width: 141px;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

header ul {
  width: 100%;
  top: 60px;
  background-color: rgba(255, 166, 0, 0.986);
  list-style: none;
  overflow: hidden;
  position: absolute;
}

header ul a {
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 20px;
}

header ul a:hover {
  color: #ff0000;
}

header .menu {
  right: 0px;
  clear: both;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
}

header .menu-icon .nav-icon {
  background-color: gray;
  color: #ff0000;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

header .menu-icon .nav-icon::before {
  background-color: darkgray;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
}

header .menu-icon .nav-icon::after {
  background-color: darkgray;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
}

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.hero {
  padding-top: 51px;
}

.hero .premium img {
  position: fixed;
  position: absolute;
  top: 56px;
  right: 0px;
  z-index: 30;
}

.hero .hero-inner {
  margin-top: 90px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero .hero-inner h1 {
  font-family: "roboto";
  font-size: 30px;
  padding-bottom: 10px;
}

.hero .hero-inner p {
  font-size: 17px;
  padding: 5px 10px 20px 10px;
  line-height: 1.3;
}

.gallery {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery .onHover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fca709a8;
  overflow: hidden;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 100%;
}

.gallery .onHover .text p {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  width: 100%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  margin: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.gallery .onHover h1 {
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  padding: 10px;
  -webkit-transform: translate(0%, 10%);
          transform: translate(0%, 10%);
}

.gallery:hover .onHover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner {
  width: 100%;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}

.banner .banner-inner {
  padding: 10px;
}

.banner .banner-inner h1 {
  font-size: 56px;
  padding-bottom: 10px;
}

.banner .banner-inner p {
  font-size: 18px;
}

.gallarie {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.gallarie .gallarie-inner {
  max-width: 600px;
  overflow: hidden;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.gallarie .gallarie-inner img {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-top: 20px;
  cursor: pointer;
  padding-bottom: 5px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.gallarie .gallarie-inner img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gallarie .gallarie-inner .one, .gallarie .gallarie-inner .two, .gallarie .gallarie-inner .three {
  overflow: hidden;
  max-width: 400px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.gallarie .gallarie-inner .one h5, .gallarie .gallarie-inner .two h5, .gallarie .gallarie-inner .three h5 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.gallarie .gallarie-inner .one p, .gallarie .gallarie-inner .two p, .gallarie .gallarie-inner .three p {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 10px 10px;
  text-align: center;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.our-team h2 {
  font-size: 25px;
  padding-bottom: 10px;
}

.our-team p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.our-team .our-team-inner {
  width: 95%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team h6 {
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 3px;
}

.our-team p {
  font-size: 18px;
}

.our-team img {
  width: 100%;
}

.our-team .icony {
  margin-bottom: 15px;
}

.our-team .icony a {
  text-decoration: none;
  font-size: 20px;
  color: slategray;
}

.our-team .icony i {
  margin-top: 6px;
  padding: 3px;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

.our-team .teamflex {
  margin-bottom: 10px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px auto;
}

.our-team .teamflex a {
  font-weight: 700;
  text-decoration: none;
  color: slategray;
}

.our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.our-clients h1 {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}

.our-clients p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px 20px 10px;
}

.our-clients .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
}

.our-clients .brand img {
  width: 34%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.baner {
  z-index: 2;
}

.baner h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

.baner p {
  padding: 15px;
  color: darkgray;
  font-size: 20px;
}

.baner .baner-inner {
  padding-top: 150px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.baner .info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 550px;
  margin: 0 auto;
}

.baner .info img {
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  margin-bottom: 10px;
}

.baner .info .contact-details {
  width: 97%;
  background-color: #000000;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.baner .info .contact-details .address {
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner .info .contact-details .address ul {
  margin-bottom: 10px;
  list-style: none;
  margin-top: 10px;
}

.baner .info .contact-details .address ul li {
  margin: 0 auto;
  width: 40px;
}

.baner .info .contact-details .address ul li i {
  font-size: 30px;
  color: #ffffff;
}

.baner .info .contact-details .address h3 {
  font-size: 25px;
}

.baner .info .contact-details .address p {
  padding-top: 10px;
  font-size: 20px;
}

.baner .info .contact-details .email {
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner .info .contact-details .email ul {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.baner .info .contact-details .email ul li {
  margin: 0 auto;
  width: 40px;
}

.baner .info .contact-details .email ul li i {
  font-size: 30px;
  color: #ffffff;
}

.baner .info .contact-details .email h3 {
  font-size: 25px;
}

.baner .info .contact-details .email p, .baner .info .contact-details .email a {
  font-size: 18px;
  padding-top: 10px;
  text-decoration: none;
  color: darkgray;
}

.baner .info .contact-details .phone {
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.baner .info .contact-details .phone ul {
  margin-bottom: 10px;
  list-style: none;
  margin-top: 10px;
}

.baner .info .contact-details .phone ul li {
  width: 40px;
  margin: 0 auto;
}

.baner .info .contact-details .phone ul li i {
  font-size: 30px;
  color: #ffffff;
}

.baner .info .contact-details .phone h3 {
  font-size: 25px;
}

.baner .info .contact-details .phone p {
  padding-top: 10px;
  font-size: 20px;
}

.premium {
  right: 0px;
  position: fixed;
  top: 72px;
  z-index: 30;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details h4 {
  font-weight: bold;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.details form {
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details form .flex1 {
  width: 100%;
}

.details form .flex1 .e-mail {
  width: 100%;
  height: 46px;
  margin-bottom: 20px;
}

.details form .flex1 .name {
  -webkit-box-shadow: black;
          box-shadow: black;
  text-align: left;
  width: 100%;
  height: 46px;
  margin-bottom: 20px;
}

.details form .flex1 input {
  padding: 0;
}

.details form .subject {
  text-align: left;
  width: 100%;
  height: 46px;
  margin-bottom: 20px;
}

.details form .text-area {
  text-align: left;
  resize: none;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}

.details form button {
  padding-left: 10px;
  color: #ffffff;
  border: none;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E8A621;
  width: 100%;
  height: 46px;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .footer-top ul li {
  color: #616265;
  padding-top: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  text-align: center;
}

footer .footer-top ul li p {
  font-family: "robotob";
}

footer .footer-top ul li i {
  font-weight: 700;
  margin: 0 auto;
  font-size: 30px;
  color: #616265;
  margin-top: 20px;
  margin-bottom: 5px;
}

footer .footer-top h3, footer .footer-top h5 {
  padding-top: 10px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 10px 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-top p, footer .footer-top a {
  color: #616265;
  text-decoration: none;
  font-size: 15px;
  line-height: normal;
  padding: 5px;
  text-align: center;
}

footer h4 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-self: center;
  padding-left: 112px;
}

footer hr {
  height: 0.5px;
  border: none;
  background-color: darkgray;
  margin-bottom: 10px;
  width: 100%;
}

footer .footer-bottom p {
  color: #616265;
  font-size: 14px;
  padding: 7px 0 15px 10px;
  text-align: center;
}

@media (min-width: 568px) {
  .our-team-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-team-inner .teamflex {
    width: 45%;
  }
  .our-team-inner .teamflex img {
    width: 96%;
  }
  .our-clients img {
    width: 34%;
  }
  .banner p {
    padding: 20px 60px;
  }
  .flex {
    width: 100%;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-flex: 33,3333%;
        -ms-flex: 33,3333%;
            flex: 33,3333%;
  }
  footer .footer-top p {
    font-size: 13px;
  }
  ul {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul li {
    padding: 5px;
  }
  .footer-item2 h4 {
    padding-top: 5px;
    padding-left: 107px;
  }
  .footer-bottom br {
    display: none;
  }
  .footer-bottom p, .footer-bottom a {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
  }
  header img {
    width: 220px;
  }
  header ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
    padding: unset;
    position: unset;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: transparent;
  }
  header ul li {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 5px;
  }
  header ul li a {
    font-size: 15px;
    padding: 30px 0px;
  }
  header li {
    float: left;
  }
  header li a {
    padding-right: 0px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: 35px;
  }
  .menu-icon {
    display: none;
  }
  .premium {
    padding-top: 20px;
    width: 120px;
  }
  .hero {
    padding-top: 100px;
  }
  .hero .hero-inner h1 {
    font-size: 70px;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.333%;
  }
  .gallery img {
    -webkit-box-flex: 33.333%;
        -ms-flex: 33.333%;
            flex: 33.333%;
  }
  footer {
    width: 100%;
    overflow: hidden;
  }
  footer .footer-top {
    width: 100%;
  }
  footer .footer-top h1, footer .footer-top h5 {
    padding: 15px;
    text-align: center;
  }
  footer .footer-top p, footer .footer-top a, footer .footer-top li {
    font-size: 19px;
  }
  footer ul {
    width: 73%;
    padding: 5px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    width: 23%;
    text-align: center;
    margin-top: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer ul li .fab fa-twitter {
    margin-right: 2px;
  }
  footer ul li .tw {
    padding-left: 2px;
  }
  footer ul li a {
    padding: 0px;
  }
  footer ul li p {
    font-size: 15px;
    margin: 25px 0px 0px 2px;
    padding: 0px;
    padding-left: 2px;
  }
  footer .flex {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .flex .footer-item2 h4 {
    margin-bottom: 17px;
  }
  footer .flex .footer-item2 a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 40px;
  }
  footer .footer-item0 {
    width: 33%;
    margin-top: -12px;
    padding-top: 10px;
    width: 30%;
  }
  footer .footer-item0 h3 {
    width: 100%;
    margin-left: 10px;
    padding-left: 0px;
  }
  footer .footer-item1 {
    width: 33%;
  }
  footer .footer-item1 h5 {
    padding-top: 0px;
  }
  footer .footer-item1 p {
    padding-top: 5px;
  }
  footer .footer-top ul {
    width: 73%;
  }
  footer .footer-top ul li {
    width: 23%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner {
    padding-top: 180px;
  }
  .banner .banner p {
    padding: 20px 120px;
  }
  .our-team h2 {
    font-size: 40px;
  }
  .our-team .our-team-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-team .our-team-inner .teamflex {
    width: 45%;
  }
  .our-clients {
    width: 100%;
  }
  .our-clients h1 {
    font-size: 40px;
  }
  .our-clients .brand {
    width: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .our-clients .brand img {
    width: 26%;
  }
  .details {
    padding-bottom: 80px;
  }
  .details form {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: flex;
        flex-wrap: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .details form .flex1 {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .details form .flex1 .e-mail {
    margin: 0;
    width: 45%;
    text-align: left;
    border: 1px solid black;
  }
  .details form .flex1 .name {
    margin: 0;
    width: 45%;
    border: 1px solid black;
  }
  .details form .flex1 input {
    padding: 0 5px;
  }
  .details form .subject {
    border: 1px solid black;
  }
  .details form .text-area {
    font-family: "roboto";
    font-weight: 700;
    color: black;
    border: 1px solid black;
    padding: 10px 10px 10px 5px;
  }
  .details form .btn {
    width: 103%;
  }
  .details form input, .details form textarea {
    padding: 0 5px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .banner p {
    padding: 20px 130px;
  }
  .baner .baner-inner p {
    padding: 10px 100px;
  }
  .baner .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: unset;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 0 auto;
    max-height: 500px;
    overflow: hidden;
  }
  .baner .info .img {
    width: 50%;
    overflow: hidden;
  }
  .baner .info .img img {
    margin-bottom: unset;
    width: 100%;
    margin-bottom: 0px;
    max-height: 549px;
  }
  .baner .info .contact-details {
    width: 50%;
    margin-top: 5px;
    max-height: 570px;
  }
  .baner .info .contact-details .phone {
    margin-top: -15px;
  }
  .baner .info .contact-details .phone a, .baner .info .contact-details .phone p {
    font-size: 14px;
  }
  .baner .info .contact-details .phone ul {
    margin-top: 0px;
  }
  .baner .info .contact-details .email {
    margin-top: -30px;
    padding-left: 0px;
  }
  .details {
    padding-top: 100px;
  }
  .our-team .teamflex {
    -webkit-box-flex: 13.333%;
        -ms-flex: 13.333%;
            flex: 13.333%;
  }
}

@media (min-width: 1200px) {
  .hero p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery {
    -webkit-box-flex: 18.3333%;
        -ms-flex: 18.3333%;
            flex: 18.3333%;
  }
  .footer-top {
    width: 80%;
  }
  .footer-top ul {
    max-width: 621px;
  }
  .footer-top ul li {
    width: 12%;
  }
  .footer-top h5 {
    padding-left: 13px;
  }
  .footer-top .flex {
    margin-top: 60px;
    margin-bottom: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    width: 100%;
  }
  .footer-top .flex .footer-item0 {
    padding-top: 0px;
    margin-top: -6px;
  }
  .footer-top .flex .footer-item0 h3 {
    padding-left: 0px;
    padding-bottom: 5px;
    padding-top: 0px;
  }
  .footer-top .flex .footer-item0 p {
    padding-top: 0px;
  }
  .footer-top .flex .footer-item2 {
    margin-top: 51px;
  }
  .footer-top .flex .footer-item2 h4 {
    margin-top: -79px;
    margin-bottom: 25px;
  }
  .footer-top .flex .footer-item2 a {
    padding-top: 0px;
    margin-top: -10px;
  }
  .footer-top .flex .footer-item2 .email {
    margin-top: -30px;
    padding-left: 150px;
  }
  .footer-top .flex .footer-item2 .pemail {
    margin-top: -20px;
  }
  .footer-top .flex .footer-item1 h5 {
    padding-top: 0px;
    margin-bottom: 0px;
  }
  .footer-bottom br {
    display: none;
  }
  .footer-bottom p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body {
    width: 97%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallarie {
    width: 90%;
    margin: 0 auto;
  }
  .gallarie .gallarie-inner {
    max-width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    -webkit-box-flex: 43.33333%;
        -ms-flex: 43.33333%;
            flex: 43.33333%;
  }
  .gallarie .gallarie-inner img {
    width: 95%;
  }
  .gallarie .three img {
    max-height: 220.44px;
    height: 165px;
  }
  .gallarie .two img, .gallarie .one img {
    max-height: 165px;
  }
  .our-team {
    width: 70%;
    margin: 0 auto;
  }
  .our-team .teamflex {
    -webkit-box-flex: 13.333%;
        -ms-flex: 13.333%;
            flex: 13.333%;
  }
  .our-clients .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
  }
  .our-clients .brand img {
    width: 13%;
    padding: 15px;
  }
  .baner .info {
    max-width: unset;
    width: 95%;
    margin: 0 auto;
    padding: 5px 0px;
  }
  .baner .info .img {
    width: 50%;
    overflow: hidden;
  }
  .baner .info .img img {
    margin-bottom: unset;
    width: 100%;
    margin-bottom: 0px;
    max-height: 570px;
  }
  .baner .info .contact-details {
    display: unset;
    margin-top: 0px;
    width: 50%;
    max-height: 590px;
  }
  .baner .info .contact-details .phone {
    padding-bottom: 15px;
  }
  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details .flex1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */